.title {
  margin-bottom: 25px;
  font-size: 22px;
  font-family: inherit;
}

.login-button {
  margin: 25px 0px;
}

.itemCard {
  padding-top: 10px;
}

.itemCard ion-label {
  font-size: 13px !important;
}

.itemCard .itemTitle {
  font-size: 18px !important;
}

.linkButton {
  padding: 15px 45px;
  border-radius: 5px;
  border: 1px solid #3880ff;
  margin: 0px 20px;
  font-size: 25px;
}

.divButtons {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
}
